.download {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7px 20px;
  border-radius: 6px;
  width:90px;
  border:1px solid rgba(128, 128, 128, 0.694);
  background-color: var(--bkg-color2);
  color: var(--front-color1);
  cursor: pointer;
  transition: ease 1000ms;
  margin-left: 10px;
  animation: 30s ease-in 2s infinite aniLogo;
}
.download img {
  height: 15px;
  padding: 3px;
  margin-left: 5px;
  
}
a{
  text-decoration: none;
  border-bottom: 0;

}
a:hover{
  text-decoration: none;
  border-bottom: 0;
}
.curriculum button:hover {
  transition: ease 200ms;
  background-color: rgb(0, 56, 56);
}

@media (max-width: 500px){
  .download{
    width:54px;
    padding: 5px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}
