.pic {
  width: 305px;
}
.pic img {
  width: 100%;
  max-width: 400px;
  position: relative;
  transition: ease 200ms;
}
.pic img:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
}
@media (max-width: 568px) {
  .pic img {
    top: -40px;
  }
}
