.Citar{
    height: 150px;
    width: 100%;
    position: relative;
    max-width: 1000px;
}
.citar-q, .citar-i{
    display:block;
    position:relative;
    left: 25px;
    top: 30px;
    color: #dff0f6;
    font-weight: 200;
    font-size: 16px;
    width:80%;
}
.citar-i{
    left: 32px;
    top: 20px;
    font-size: 14px;
}
