main h1 {
  position: relative;
  margin: 1rem 0;
  width: 80%;
  left: 5px;
  font-size: 140px;
  font-weight: 800;
  opacity: 70%;
  z-index: 100;
}
main h2 {
  position: relative;
  line-height: 1;
  margin: 1rem;
  top: -30px;
  opacity: 70%;
  font-size: 42px;
  font-weight: 600;
  transition: opacity ease 300ms;
}
main h2:hover {
  transition: opacity ease 500ms;
  opacity: 100%;
}
main h3 {
  position: relative;
  top: -60px;
  left: 18px;
  font-size: 18px;
  font-weight: 100;
  opacity: 80%;
  transition: opacity ease 300ms;
}
main h3:hover {
  transition: opacity ease 500ms;
  opacity: 100%;
}
.hello {
  position: relative;
  width: 40%;
  top: 30px;
  color: white;
  letter-spacing: 0.3px;
}
.hello span {
  color: #00adb4;
  font-size: 52px;
  font-weight: 800;
}
.bar {
  position: relative;
  height: 4px;
  width: 400px;
  border-top: 4px solid #00adb4;
  border-radius: 6px;
  padding: 0;
  top: 0px;
}

@media (max-width: 630px) {
  main {
    display: flex;
    height: 860px;
  }
  .hello {
    width: 100%;
    top: -20px;
  }
  .hello h1 {
    margin: -8px 0 30px 10px;
    font-size: 7rem;
  }
  .hello h2 {
    font-size: 2.4rem;
    line-height: 1;
    margin: 20px 0 31px 23px;
  }
  .hello span {
    font-size: 2.5rem;
  }
  .hello h3 {
    margin: 10px 0 5px 09px;
    font-size: 1rem;
  }
  .bar {
    width: 95%;
    position: relative;
    margin: 0 auto;
  }
}
