.recent-works{
  outline: none;
}
#mais {
  position: relative;
  text-align: right;
  width: 94px;
  padding: 10px 10px;
  cursor: pointer;
  z-index: 20;
  color: #00adb4;
}
#mais-link {
  display: flex;
  position: relative;
  justify-content: end;
  border: none;
  padding: 0 20px;
  width: 85px;
}
.mais-link-banner {
  display: flex;
  justify-content: end;
  padding: 15px 20px;
}
.mais-link-banner p {
  cursor: pointer;
}
#mais-link:visited {
  color: #00adb4;
}
#mais-link:active {
  color: #f7fbfb;
}
@media (max-width: 660px) {
  .recent-works {
    margin-top: -81px;
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .recent-works {
    padding-bottom: 40px;
  }
}
