.recent-works,
.recent-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
  justify-content: center;
}
.recent-works {
  margin-top: -81px;
  padding-top: 40px;
  background-color: var(--bkg-color1);
  background-image: url("./background-2.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.recent-title {
  height: 20px;
}
.recent-title h1,
.recent-title h2 {
  color: #dff0f6;
  position: relative;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  top: 30px;
}
.recent-title h2 {
  position: relative;
  color: #464d5a;
  font-weight: 800;
  text-align: center;
  z-index: 9;
  font-size: 58px;
  top: -20px;
}
.recent-title h1:hover {
  transition: ease 200ms;
  text-shadow: 2px 2px 6px rgb(22, 22, 22);
}
.recent-thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin-top: 26px;
  justify-content: center;
}
.recent-thumbs-block {
  width: 200px;
  height: 200px;
  margin: 15px 15px;
  border: 1px solid #00adb4;
  border-radius: 4px;
  overflow: hidden;
}
.recent-thumbs-block:hover {
  transition: ease 200ms;
  border: 1px solid whitesmoke;
}
.recent-thumbs-block img {
  width: 200px;
}
.recent-thumbs-block p {
  width: 200px;
  position: relative;
  height: 28px;
  padding: 3px 10px;
  color: #00adb4;
  background-color: rgb(33, 40, 50, 0.8);
  top: 0px;
  opacity: 0;
}
.recent-thumbs-block:hover p {
  animation: forwards slide 299ms;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(36px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#mais {
  position: relative;
  text-align: right;
  width: 94px;
  padding: 10px 10px;
  cursor: pointer;
  z-index: 20;
  color: #00adb4;
}
.mais-link-banner {
  display: flex;
  justify-content: end;
  padding: 15px 20px;
}
#mais-link {
  display: flex;
  position: relative;
  justify-content: end;
  border: none;
  padding: 0 20px;
  width: 85px;
}
#mais-link:visited {
  color: #00adb4;
}
#mais-link:active {
  color: #f7fbfb;
}
.maisx-body {
  background-color: #1d212a;
  background-image: none;
}
.maisx-container,
.maisx-container-web {
  display: flex;
  flex-direction: row;
  width: 95%;
  overflow-x: scroll;
  justify-content: left;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.maisx-container img {
  transition: ease 240ms;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 5px;
}
.maisx-container img:hover {
  transform: scale(1.01);
  border-radius: 5px;
  filter: drop-shadow(1px 2px 6px #00adb4);
}
.maisx-body h2 {
  font-size: 1.8rem;
  margin: 1.5rem;
  text-align: center;
}
.maisx-body h3 {
  margin: 1.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #00adb4;
}
.maisx-container-web a,
.maisx-container-web img {
  width: 60%;
  position: relative;
  margin: 1rem auto;
  text-decoration: none;
}
.maisx-container-web img {
  transition: ease 250ms;
  width: 100%;
}
.maisx-container-web img:hover {
  transform: scale(1.01);
  filter: drop-shadow(1px 1px 6px #00adb4);
}
.maisx-container-web a p {
  margin-top: -16px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}
@media (max-width: 660px) {
  .recent-works {
    margin-top: -81px;
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .recent-works {
    padding-bottom: 40px;
  }
  .recent-thumbs-block,
  .recent-thumbs-block img {
    width: 140px;
    height: 140px;
  }
}
