:root{
  --bkg-color1: #1d212a;
  --bkg-color2: #3e4e64;
  --front-color-menu: #deeaee;
  --front-color1: #00adb4;
  --front-color2: #393d46;
}
body{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: var(--bkg-color1);
  color:var(--front-color1);
  display:flex;
  width:100%;
  max-width: 1000px;
}
a{
  cursor:pointer;
}
